@import
'https://fonts.googleapis.com/css?family=Itim';

body {
    margin: 0;
    background: #363636;
    display: flex;
    align-items: center;
    height: 100vh;
}

.gameboard {
    width: 90vmin;
    height: 90vmin;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 100%;    
}

#centro {
  width: 36vmin;
  height: 36vmin;
  background-color: #E7E7E7;
  position: absolute;
  top: 0;
  bottom: 36px;
  left: 0;
  right: 36px;
  margin: auto;
  border-radius: 100%;
  border: 3vmin solid #181818;
}

#logo {
  position: relative;
  text-align: center;
  font-size: 45px;
  top: 40%;
  left: 3vmin;
  width: 30vmin;
  font-family: 'Itim';
  font-weight: 900;
  color: #1F1F1F;

}

.color {
    width: 50%;
    height: 50%;
    display: inline-block;

}

.left {
    float: left;
}

.right {
    float: left;
}


.celeste {
    background: #22a6b3;
    border-top-left-radius: 100%;
    border-left: 4vmin solid #3E3E3E;
    border-top: 4vmin solid #3E3E3E;
}

.celeste.light {
    background: #7ed6df;
}

.rojo {
    background: #BB0000;
    border-top-right-radius: 100%;
    border-right: 4vmin solid #3E3E3E;
    border-top: 4vmin solid #3E3E3E; 
}

.rojo.light {
    background: #DA5D5D;
}

.amarillo {
    background: #E8CB00;
    border-bottom-left-radius: 100%;
    border-bottom: 4vmin solid #3E3E3E;
    border-left: 4vmin solid #3E3E3E;
}

.amarillo.light {
    background: #EAE47D;
}

.verde {
    background: #6ab04c;
    border-bottom-right-radius: 100%;
    border-bottom: 4vmin solid #3E3E3E;
    border-right: 4vmin solid #3E3E3E;
}

.verde.light {
    background: #badc58;
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
        display: block;
    }
    to {
        display: none;
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        display: block;
    }
    to {
        display: none;
        opacity: 0;
    }
}

#btnStart{
  width: 36vmin;
  height: 36vmin;
  background-color: #E7E7E7;
  position: absolute;
  top: 0;
  bottom: 36px;
  left: 0;
  right: 36px;
  margin: auto;
  border-radius: 100%;
}

.btn-start {

    width: 36vmin;
    height: 36vmin;
    background-color: #E7E7E7;
    text-align: center;
    border-radius: 100%;
    transition: display 2s;
    transition: visibility 1s;
    cursor: pointer;
    color: #2c3e50;
    border: none;
    font-size: 3em;
    top: calc(50% - 50px);
    left: calc(50% - 210px);
    transition: .5s;
    outline: none;
    z-index: 2;
}

.btn-start:hover {
    color: #ecf0f1;
    background: #434445;
    border:2px solid white;
}

.btn-start:active {
    transform: scale(.95);
}

.hide {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    visibility: hidden;
}
.verde, .rojo, .celeste, .amarillo {
  position: relative;
  float: left;
  width: 39vmin;
  height: 39vmin;
  border: 2vmin solid #181818;
}

* {
    font-family: 'Itim';
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}